.container {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.container div {
  font-size: 1.2rem;
  color: #007bff;
}

p {
  font-size: 1rem;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

p:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
